<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Game of thrones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <header class="header">
        <nav class="header__nav"> 
                <section class="navigation__logo">
                        <img src="./img/logo.png" alt="" width="90%">
                    </section>
                    <section class="navigation__links">
                        <a href="">About  </a>
                        <a href="">Seasons  </a>
                        <a href="">  Cast  </a>
                        <a href="">News </a>
                        <a href=""> Shop  </a>
                    </section>

        </nav>    
<!--
    <article class="banner">
     
        <section class="banner__info">
                <h1>Season 7</h1>
                <h2>The winter is here</h2>
                <br>
                <p>In The Twins, Arya Stark poisons the remaining Frey involved in the "Red Wedding".
                In King's Landing...</p>
                
                     <button ><strong>Show more</strong> </button>
                  
        </section>

        <div class="banner__footer">
                <img src="./img/banner-down.png" alt="" width="100%" >
        </div>

        <section class="banner__image">
                <img src="./img/banner.png" alt="" width="100%" height="80%">
              
        </section>
        
        
      
    </article>
</header>


<div class="title_char">
        <h3 ><font color="#848484">Characteristics</font></h3>
</div>

<section class="character">
        
  
    <article class="character__award">
        <img src="./img/award.png" alt="" width="30%"  width="30%">
        <p>Winner of 38 Emmys awards, 1 golden globs and 10 more prizes in different awards </p>
    </article>

    <article class="character__tv">
            <img src="./img/tv.png" alt=""  width="40%">
            <p>In 2014 it became the most watched series in the history of HBO, when the world premiere of the fourth season exceeded the audience record of the final chapter of The Sopranos. </p>
        </article>

        <article class="character__one">
                <img src="./img/one.png" alt=""  width="30%">
                <p>The series has had, throughout its seven seasons, an excellent reception by professional critics, being considered one of the best television series of all time. </p>
            </article>

</section>


    <article class="publicity">
        
        <section class="publicity__descrip">
            <h1>
                Blu-Ray of season 7
            </h1>

            
            <button ><strong>Discover more</strong> </button>
        </section>

    <section class="publicity__image">

        <img src="./img/blu-ray.png" alt="" width="80%">
    </section>
    </article>

    <div class="title_char2">
            <h3 ><font color="#848484">Gallery</font></h3>
    </div>

    <section class="gallery">

        <section class="gallery__column">
                <div class="gallery__container1" >
                        <img src="./img/gallery1.png" alt="" class="gallery__img1" width="100%">
        
                <img src="./img/gallery4.png" alt=""  class="gallery__img4" width="100%">
        
                </div>

        </section>
       
        <section class="gallery__row"> 

                <div class="gallery__container2">

                        <img src="./img/galley2.png" alt="" class="gallery__img2" width="60%">
        
                        <img src="./img/gallery3.png" alt="" width="32.5%" class="gallery__img3">
        
                </div>
        
                <div class="gallery__container3">
                        <img src="./img/gallery5.png" alt=""  class="gallery__img5" width="46.4%">
        
                        <img src="./img/gallery6.png" alt=""  class="gallery__img6" width="46.1%"> 
                
        
                </div>

        </section>

        <section class="gallery__footer">

            <img src="./img/gallery7.png" alt="" class="gallery__img7" width="49.1%">

            <img src="./img/gallery8.png" alt="" class="gallery__img8" width="49.1%">
        </section>
    </section>


    
    <div class="title_char3">
            <h3 ><font color="#848484">Specifications</font></h3>
    </div>

    <section class="specification">

        <article class="specification__img">
            <img src="./img/blu-ray.png" width="90%" alt="">

        </article>

        <article class="specification__info">


                <li><strong> Creator:</strong>David Benioff & D. B. Weiss
                        
                    </li>

                    
                <li><strong>Chapters:</strong>  7
                        
                
             <li><strong>Cast: </strong>  Peter Dinklage, 
                    Nikolaj Coster-Waldau,
                    Lena Headey,
                    Emilia Clarke, 
                    Kit Harington,
                    Aidan Gillen,
                    Liam Cunningham, 
                    Sophie Turner,
                        
             </li>


             <li>
                  <strong>Original network: </strong>HBO
             </li>

             <li>
                 <strong>Original release: </strong> July 16 – August 27, 2017
             </li>



             <br>

             <h4>Extra content</h4>
                    </li>
                <li><strong> Conquest and rebellion:</strong> an animated story of the Seven Kingdoms.
                    </li>
                    <li ><strong>From imagination to reality: </strong>  within the art department.
                    </li> 
                    <li>
                       <strong> Fire and steel:</strong>  creating the invasion of Westeros.
                    </li>
                  <li>
                      Audio comments for each episode.
                  </li>
                
        </article>
    </section>
-->

   
    <section class="filter">
       
            <section class="filter__links">
                <a href="">Ropa  </a>
                <a href="">Accesorios  </a>
                <a href="">  Coleccionables  </a>
                <a href="">Juegos </a>
                <a href=""> Libros y DvDs  </a>
            </section>
       
        
    </section>

    <h1>{{title}}</h1>

<section class="registration">
        <div class="registration__info">
            <h5>
                Enter the game of thrones
            </h5>
<p>Subscribe now, so as not to miss new information about game of thrones about</p>
        </div>

        <div class="registration__input">

            <input type="">

            <button>Send</button>
        </div>
    </section>


    <footer class="footer">

        <section class="footer__general">
                <section class="footer__logo">
                        <img src="./img/logo.png" alt="" width="90%">
                    </section>
                    <section class="footer__links">
                        <a href="">About  </a>
                        <a href="">Seasons  </a>
                        <a href="">  Cast  </a>
                        <a href="">News </a>
                        <a href=""> Shop  </a>
                    </section>
    
        </section>
         
                <section class="footer__icons">
                        <img src="./img/logoHbo.png" alt="" width="80%">
                </section>
                

    </footer>

    <script src="main.js"></script>

</body>
</html>